# Pastas de ambiente e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de sistema (Mac e Windows)
.DS_Store
Thumbs.db

# Logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Se você usar algum dia pacotes do Node.js
node_modules/
dist/